body {
    margin: 0;
    padding: 0;
}

button {
    outline: none; 
    cursor: pointer;
}

a {
    text-decoration: none;
}

.main-container {
    padding-top: 60px;
    overflow-x: hidden;
}

.underline {
    border-bottom: 2px solid white;
    width: 90%;
}

.shop-btn {
    margin-right: 10px;
    padding: 5px 10px;
    border: 2px solid #333;
    font-weight: bold;
    background: transparent;
    transform: scale(1);
  }
.shop-btn:hover {
    cursor: pointer;
    transform: scale(0.98);
}

.block-btn {
    padding: 10px 25px;
    font-size: 1em;
    font-weight: bold;
    width: 75%;
}

.modal-bg {
    background: #333;
    opacity: 0.25;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9;
}

.modal {
    position: fixed;
    max-width: 600px;
    min-width: 300px;
    background: white;
    padding: 50px;
    text-align: left;
    text-justify: newspaper;
    z-index: 90;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/* animations */
.fade-enter-active, .fade-leave-active {
    transition: 1s;
}
.fade-enter-to, .fade-leave {
    opacity: 0.25;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}