body {
    margin: 0;
    padding: 0;
}

button {
    outline: none; 
    cursor: pointer;
}

a {
    text-decoration: none;
}

.main-container {
    padding-top: 60px;
    overflow-y: hidden;
}

.shop-btn {
    margin-right: 10px;
    padding: 5px 10px;
    border: 2px solid #333;
    font-weight: bold;
    background: transparent;
    transform: scale(1);
  }
.shop-btn:hover {
    cursor: pointer;
    transform: scale(0.98);
}